.bgimg {
  background-image: url("../../public/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}
.gradient {
  background: linear-gradient(#8a5ef7, #492dac);
  background-clip: text;
  color: transparent;
}

.hoverBorder:hover {
  border: 2px solid transparent;
  background: linear-gradient(#8a5ef7, #492dac);
  border-radius: 16px;
}
.bgimg2 {
  background-image: url("../../public/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimgg {
  background-image: url("../../public/Logo.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.bgcolor {
  background: #4ca1ff;
}

.background {
  background: linear-gradient(#8a5ef7, #492dac);
}
