.bgimg {
  background-image: url("../../public/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.gradient {
  background: linear-gradient(#8a5ef7, #492dac);
  background-clip: text;
  color: transparent;
}

.hoverBorder:hover {
  background: linear-gradient(#8a5ef7, #492dac);
  border-radius: 16px;
}
.bgimg2 {
  background-image: url("../../public/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimgg {
  background-image: url("../../public/Logo.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.bgcolor {
  background: #4ca1ff;
}

.background {
  background: linear-gradient(#8a5ef7, #492dac);

}


@media only screen and (max-width: 1192px) {
  .resBox {
    display: none;
  }

}
