.bgimg {
  background-image: url("../../public/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.gradient {
  background: linear-gradient(#8a5ef7, #492dac);
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
.hoverBorder {
  padding: 1px;
}
.hoverBorder:hover {
  padding: 1px;
  background: linear-gradient(#8a5ef7, #492dac);
  border-radius: 16px;
}
.container {
  width: 100%;
  max-width: 93%;
  margin: auto;
}
.containerEight {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.bgContent {
  background-image: url("../../public/Content.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 500px;
  width: 100%;
  min-width: fit-content;
}

.bgimg2 {
  background-image: url("../../public/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bgimgg {
  background-image: url("../../public/Logo.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.bgcolor {
  background: #4ca1ff;
}
.sixtext {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.background {
  background: linear-gradient(#8a5ef7, #492dac);
}
.Box {
  display: flex;
  flex-direction: column-reverse;
}
.gapcard {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.sixRelative {
  position: relative;
}

.sixBox {
  position: absolute;
  bottom: 0;
  right: 30%;
}
.twoContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.ThreeContainer {
  width: 100%;
  max-width: 1255px;
  margin: auto;
}
@media only screen and (max-width: 1192px) {
  .resBox {
    display: none;
  }
  .title {
    width: 80%;
  }
  .para {
    width: 100%;
    text-align: center;
  }
  .container {
    width: 100%;
    max-width: 93%;
    margin: auto;
  }
  .ThreeContainer {
    max-width: 93%;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .sixBox {
    top: -10px;
    right: 10px;
    width: 90%;
    padding-bottom: 85px;
  }
  .bgContent {
    background-size: contain;
    min-height: 422px;
  }
  .twoContainer {
    max-width: 93%;
  }
}
@media only screen and (max-width: 1190px) {
  .container {
    width: 100%;
    max-width: 93%;
    margin: auto;
  }
  .colorBox {
    height: 400px;
  }
  .column {
    flex-direction: column;
    gap: 35px;
  }
  .widthFive {
    width: 35%;
  }
  .ThreeContainer {
    max-width: 93%;
  }
}
@media only screen and (max-width: 540px) {
  .gapFive {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 720px) {
  .bgimg {
    min-height: 100vh;
    height: 100%;
  }
  .bgContent {
    background-size: contain;
    min-height: 257px;
  }
  .twoContainer {
    max-width: 93%;
  }
  .container {
    width: 100%;
    max-width: 93%;
    margin: auto;
  }

  .width {
    width: 100%;
  }
  .colorBox {
    height: 300px;
  }
  .plancard {
    display: block;
  }
  .gapcard {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .sixtext {
    align-content: center;
  }
  .alignsix {
    text-align: center;
  }
  .sixbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lastSix {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  .bgimg2 {
    background-image: url("../../public/bg3.jpg");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 230px;
  }
  .Eighttext {
    text-align: center;
    width: 100%;
  }
  .eightbuttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .column {
    flex-direction: column;
    gap: 35px;
  }
  .sixBox {
    width: 85%;
    position: static;
    padding-bottom: 10px;
  }
  .sixRelative {
    position: relative;
    top: 0;
    left: 0;
  }
  .heightFive {
    height: 200px;
  }
  .gapFive {
    gap: 50px;
  }
  .fiveGapB {
    gap: 186px;
  }
  .sevenGap {
    gap: 0px;
  }
  .SevenGap2 {
    gap: 5px;
  }
  .sixGap {
    gap: 30px;
  }
  .fourGap {
    gap: 24px;
  }
  .twoGap {
    gap: 25px;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .widthFive {
    width: 95%;
  }
  .mdside {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .ThreeContainer {
    width: 100%;
    max-width: 93%;
    margin: auto;
  }
}
