body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
ol {
  list-style: none;
  padding: 0;
}

.button {
  background: linear-gradient(#8a5ef7, #492dac);
  border: 0;
  padding: 10px 23px;
  line-height: 2;
  border-radius: 6px;
  color: white;
  font-family: "Kumbh San", sans-serif;
  font-weight: 800;
  cursor: pointer;
}
.Cardtext {
  font-family: "Poppins", sans-serif;
}
.Medium_text2 {
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; 
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 93%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 93%;
  }
}
