.button {
  background: linear-gradient(#8a5ef7, #492dac);
  border: 0;
  padding: 11px 27px;
  line-height: 2;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.bgimg {
  background-image: url("../../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
